# _________________________
# Python / Django
# _________________________
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
*.pot

# Django config
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# Byte-compiled / optimized
*.py[cod]
*$py.class

# Translations
*.mo
*.pot

# Django migrations
**/migrations/*.pyc
!*/migrations/__init__.py
!**/migrations/__init__.py
!**/migrations/*.py

# _________________________
# Virtual Environments
# _________________________
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# _________________________
# Testing / Coverate
# _________________________
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
*.cover
*.py,cover
htmlcov/

# _________________________
# Jupyter
# _________________________
.ipynb_checkpoints/

# _________________________
# React / Node (frontend)
# _________________________
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
build/
dist/

# _________________________
Environments
# _________________________
.env
.env.*
config.yaml
.venv
env/
*env/
blogvenv/
venv/
*venv/
ENV/
env.bak/
venv.bak/

# AWS Elastic Beanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/*.config.yml
.ebextensions/*
!.ebextensions/*.config

# _________________________
# OS / IDE / Misc
# _________________________
.DS_Store
*.swp
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject
*.sublime-workspace
*.sublime-project

# PyCharm
*.iml
*.ipr
*.iws
.idea/

# MyPy, Ruff, Pyright
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/
pyrightconfig.json




# ___________________________________________

### DBeaver ###
# ide config file
.dbeaver-data-sources*.xml

# Unit test / coverage reports
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# IPython
profile_default/
ipython_config.py

.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

