option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: blog_cheatkey.wsgi:application  # wsgi.py 경로

  # 환경 변수 설정
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: blog_cheatkey.settings  # Django settings 모듈 경로
    SECRET_KEY: "your-secret-key"  # 환경 변수로 비밀 키 설정
    ALLOWED_HOSTS: ".elasticbeanstalk.com"  # 허용된 호스트 설정
    DEBUG: "False"  # 프로덕션 환경에서는 False로 설정
    DATABASE_URL: "sqlite:///db.sqlite3"  # SQLite 데이터베이스 URL (필요에 따라 RDS로 변경)

  # EC2 인스턴스에서 Gunicorn 사용
  aws:elasticbeanstalk:container:python:
    NumProcesses: 3  # gunicorn 프로세스 수
    NumThreads: 10  # gunicorn의 각 프로세스에서 사용할 스레드 수
    MaxRequestSize: 10485760  # 요청 크기 제한 (예시: 10MB)
    Timeout: 300  # 타임아웃 시간 (예시: 5분)
    WSGIPath: blog_cheatkey.wsgi:application  # Django의 wsgi.py 경로
