option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
    DJANGO_SETTINGS_MODULE: blog_cheatkey.blog_cheatkey.backend.blog_cheatkey.settings

commands:
  01_install_dependencies:
    command: "source /var/app/venv/*/bin/activate && pip install django==4.2.16 gunicorn==23.0.0"
  02_create_directories:
    command: |
      mkdir -p /var/app/current/blog_cheatkey/backend
  03_create_init_files:
    command: |
      touch /var/app/current/blog_cheatkey/__init__.py
      touch /var/app/current/blog_cheatkey/backend/__init__.py
  04_create_symbolic_link:
    command: |
      if [ -d "/var/app/current/blog_cheatkey/blog_cheatkey/backend/blog_cheatkey" ]; then
        ln -sf /var/app/current/blog_cheatkey/blog_cheatkey/backend/blog_cheatkey /var/app/current/blog_cheatkey/backend/blog_cheatkey
      fi