option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current/blog_cheatkey/backend
    DJANGO_SETTINGS_MODULE: blog_cheatkey.settings

commands:
  01_install_dependencies:
    command: |
      source /var/app/venv/*/bin/activate && pip install -r requirements.txt

container_commands:
  01_migrate:
    command: "cd blog_cheatkey && python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "cd blog_cheatkey && python manage.py collectstatic --noinput"
    leader_only: true